<html>
    <head>
        <title>Eduarda's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 15.02.2020, 12:40</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>Um teste atrás do outro</p>
        </div>

        <div>
            <p>publicado: 15.02.2020, 12:41</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Atrás do outro um teste</p>
        </div>
    </body>
</html>